python-sim/.venv/
python-sim/.venv/*
python-sim/.venv

tunnelcave_sandbox_web/.next/
tunnelcave_sandbox_web/.next/*
tunnelcave_sandbox_web/.next

tunnelcave_sandbox_web/node_modules/
tunnelcave_sandbox_web/node_modules/*
tunnelcave_sandbox_web/.env.local
tunnelcave_sandbox_web/.env.local.bak
tunnelcave_sandbox_web/node_modules

node_modules/
__pycache__/
**/__pycache__/
*.py[cod]
